:root{
  --body-bg: hsl(228deg 42% 95%);
  --bg-white: hsl(0deg 0% 100%);
  --text-secondary-clr: hsl(214deg 17% 65%);
  --purple: rgb(135, 96, 251);
  --orange: #eb6f33;
  --green: #03c895;
  --blue: #01b8ff;
}



body{
  background: var(--body-bg);
  padding: 24px;
  font-family: Roboto;
}

.summary-box-container,
.profit-box-container,
.overview-container{
  background: var(--bg-white);
  /* width: 300%; */
  padding: 16px;
}

.profit-box-container, 
.overview-container{
  /* background: hsl(0deg 0% 100%);
  /* width: 300%; */
  /* padding: 16px; */ 
  margin-top: 24px;
}

.summary-box-time-container{
  display: flex;
  justify-content: space-between;
  color: var(--text-secondary-clr);
}

.summary-box-time-container > p, 
.profit-box-time-container > p  {
margin: 6px 0px;
}

.summary-box-text{
  color: hsl(218deg 18% 43%);
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.summary-box-number,
.profit-box-number{
  color: hsl(212deg 23% 26%);
  font-size: 28px;
  margin: 0;
  font-weight: 500;
  margin-bottom: 8px;
}

.profit-box-sub-text{
  color: var(--text-secondary-clr);
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
}
.profit-box-heading{
  margin: 0;
  font-weight: 500;
}

.summary-box-spec, 
.profit-box-time-container,
.overview-spec{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profit-box-time-container > p:first-child {
  color: hsl(214deg 17% 65%);
}

.percent-box-container{
display: flex;
flex-direction: column;
gap: 16px;
}

.summary-box-list{
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 1200px){
  .summary-box-list{
    grid-template-columns: repeat (4, 1fr);
  }
}

@media (min-width: 500px){
  .summary-box-list{
    grid-template-columns: repeat (2, 1fr);
  }
}